/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/css3";  
@import "compass/typography/lists";
@import "compass/reset";
@import "compass/utilities";

$posts-bg: #9cbc2c;
$post-bg: adjust-lightness($posts-bg, 30);

section.posts {
  background: $posts-bg;
  width: 400px;
  float: left;
  padding: 10px;
  @include border-radius(15px);

  .post {
    @include background-image(linear-gradient(adjust-lightness($post-bg, 30),
                                              $post-bg,
                                              adjust-lightness($post-bg, -20) ));
    margin: 5px;
    padding: 5px;
    @include border-radius(15px);
  };
};

